* {
  padding: 0;
  margin: 0;
}

header {
  width: 1440px;
  height: 750px;
  background: transparent url("../img/Group 13562.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  padding-left: 148px;
}

.nav_bar {
  padding-top: 36px;

  width: 1144px;
  height: 54px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 134px;
  height: 54px;
  background: transparent url("../img/Group 10248.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.menu {
  display: flex;
  padding-right: 10px;
}
.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font: normal normal medium 17px/33px Gilroy ☞;
  letter-spacing: 0px;
  padding-left: 50px;
  opacity: 1;
}

.contact {
  width: 142px;
  height: 40px;
  background: #fcd02c 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
}

.header_p1 {
  color: white;
  margin-top: 201.77px;
  font: normal normal bold 51px/68px Gilroy ☞;
  letter-spacing: 0px;
  opacity: 1;
}

.p_span_style_1 {
  font: normal normal bold 51px/68px Gilroy ☞;
  letter-spacing: 0px;
  color: #fcd02c;
}

.header_p2 {
  top: 430px;
  width: 794px;
  height: 41px;
  /* UI Properties */
  text-align: left;
  font: normal normal medium 24px/36px Gilroy ☞;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.header_email_box {
  /* Layout Properties */
  top: 532px;
  left: 148px;
  width: 435px;
  height: 80px;
  /* UI Properties */
  background: #fcd02c 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
}

.header_p3 {
  /* Layout Properties */

  padding-left: 31.45px;
  padding-top: 27.5px;
  width: 317px;
  height: 25px;
  /* UI Properties */

  font: normal normal 600 22px/26px Gilroy ☞;
  letter-spacing: 0px;
  color: #150734;
  opacity: 1;
}

.email_icon {
  /* Layout Properties */
  padding-top: -30px;
  padding-left: 370px;
  width: 30px;
  height: 22px;
  /* UI Properties */
  background: transparent url("../img/email (1).png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
